services:
  app:
    container_name: client_vue
    image: node:lts
    ports:
      - "3000:3000"
    volumes:
      - ./:/app
    working_dir: /app
    command: npm run dev
    environment:
      - CHOKIDAR_USEPOLLING=true
